.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    border-right: 2px solid slategray;
    align-content: center;
    padding: 10px 10px;
    background-color: aliceblue;
}

h1 {
    color: slategray;
}